name: Build {{name}}

on:
  workflow_dispatch:
  schedule:
    - cron: '00 14 * * *'        # utc --> 3am local ignoring DST

jobs:
  {{name}}:
    runs-on: self-hosted
    timeout-minutes: 180

    # NOTE(mikal): git repos are checked out to /srv/github/_work/{org}/{repo}
    # which is available as GITHUB_WORKSPACE. You can find other environment
    # variables at https://docs.github.com/en/actions/learn-github-actions/environment-variables

    steps:
      - name: Remove previous unfinished runs
        uses: n1hility/cancel-previous-runs@v2
        with: 
          token: {% raw %}${{{% endraw %} secrets.GITHUB_TOKEN {% raw %}}}{% endraw %}
          workflow: image-build-{{name}}.yml

      - name: Set environment variables
        run: |
          echo "SHAKENFIST_NAMESPACE=$(hostname)" >> $GITHUB_ENV

      - name: Checkout the image repository
        uses: actions/checkout@v3
        with:
          path: images

      - name: Run the image build
        run: |
          cd ${GITHUB_WORKSPACE}/images
          ANSIBLE_LOCAL_TEMP=$WORKSPACE/$BUILD_TAG/tmp ansible-playbook \
              -i /home/debian/ansible-hosts \
              --extra-vars "identifier=${SHAKENFIST_NAMESPACE} source_path=${GITHUB_WORKSPACE} \
              base_image={{baseimage}} base_image_user={{baseuser}} label={{label}} \
              build_image={{image}}" \
              build.yml